:root {
  --primary: #0676ed;
  --background: #222b45;
  --warning: #f2a600;
  --success: #12c99b;
  --error: #e41749;
  --dark: #151a30;
}

.msg {
  .icon__wrapper {
    margin: 0 10px;
  }
  min-height: 67px;
  min-width: 560px;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  animation: vanish 5s;
  margin: 40px 10px;
}

@keyframes vanish {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.msg-success {
    background: var(--success);
  }
.msg-info {
    background: var(--primary);
}
.msg-error {
  background: var(--error);
}