.descriptionContainer {
    a {
        text-decoration: none;
    }
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    h1, h2 {
        text-align: center;
    }
    h1 {
        font-size: 50px;
        font-weight: bolder;
    }
    h2 {
        margin-top: 20px;
        color: #7b7b7b;
    }
    p {
        text-align: center;
        margin-top: 20px;
    }
} 
  