.footer {
    background-color: #222;
    color: #DDD;
    width: 100vw;
    bottom: 0;
    padding: 2em;
    text-align: center;
    .social_list {
        display: flex;
        justify-content: center;
        li {
            font-size: 40px;
            margin: 10px 2em;
            cursor: pointer;
            transition: 0.2s;
            &:hover {
                scale: 1.1;
                color: azure;
                transition: 0.2s;
            }
        }
    }
    .copyright {
        margin-top: 2em;
        span {
            color: azure;
            font-weight: bold;
        }
    }
}