$color_bg: #222;
$color_prime: purple;
$color_grey: #7b7b7b;
$color_white: white;

.blog-card {
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 1.6%;
  background: $color_bg;
  line-height: 1.4;
  border-radius: 5px;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .details {
        left: 0%;
    }
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    overflow: hidden;
    transition: transform .2s;
    height: 320px;
  }
  .details,
  .details ul {
    overflow: hidden;
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    list-style: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    li {
        margin: 10px;
    }
    .liIcon {
        margin-right: 15px;
    }
    a {
      text-decoration: none
    }
    ul li { 
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome, sans-serif;
      margin-right: 10px;
    }

    .date:before {
      font-family: FontAwesome, sans-serif;
      margin-right: 10px;
    }

    .tags {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
  }
  .description {
    &::before {
        display: none;
    }
    padding: 1rem;
    background: $color_bg;
    position: relative;
    z-index: 1;
    color: white;
    h1,
    h2 {
        overflow: hidden;
      font-family: Poppins, sans-serif;
    }
    h1 {
        color: #7b7b7b ;
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      color: azure ;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-top: 5px;
    }
    .read-more {
      text-align: center;
      background-image: linear-gradient(135deg, rgb(89, 185, 217),purple);
      border-radius: 14px;
      padding: 10px 0;
      a {
        color: azure;
        display: inline-block;
        position: relative;
        text-decoration: none;
        .arrowIcon {
          font-family: FontAwesome, sans-serif;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover {
            .arrowIcon {
                margin-left: 5px;
                opacity: 1;
            }
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}